kraft:
  enabled: true

controller:
  replicaCount: 1

broker:
  replicaCount: 1

image:
  registry: docker.io
  repository: bitnami/kafka
  tag: 3.7.0-debian-12-r2   # â† stable existing tag

persistence:
  enabled: false

zookeeper:
  enabled: false

resources:
  limits:
    memory: 512Mi
  requests:
    memory: 256Mi